.about-page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #fff;
  /* width: 100%; */
  padding: 25vh 10%;
  height: 100vh;
  overflow-x: hidden;
  background-color: #262626;
  cursor: pointer;
}

.about-hr {
  margin-top: 25vh;
  margin-bottom: 25vh;
}

.about-page-img {
  width: 673.2692260742188px;
  height: 353.1000061035156px;
  position: absolute;
  top: 277px;
  left: 56%;
}

@media (max-width: 1500px) {
  .about-hr {
    margin-top: 30vh;
    margin-bottom: 25vh;
  }
}
