.my-recent-works-page-head-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.my-recent-works-page-head {
  white-space: nowrap;
  font-family: Crete Round;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #091e42;
}

.horizontal-line {
  width: 100%;
  border: #212121 solid 1px;
}

@media (max-width: 768px) {
  .my-recent-works-page-head-container {
    flex-direction: column;
    gap: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  .my-recent-works-page-head {
    font-family: "Crete Round";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    /* or 130% */
    display: flex;
    align-items: center;
    color: #1c1a19;
  }
}
