.pop-up-card-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 85vh;
  /* max-height: 90vh; */
  padding: 40px;
  /* overflow-y: scroll; */
  background-color: #fff;
  z-index: 15000;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.close-btn {
  display: block;
  background-color: #fff;
  color: #67798e;
  border: none;
  justify-self: end;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 16000;
}

.pop-up-card-sub-container-1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pop-up-project-name-and-badge-container {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  gap: 8px;
}

.pop-up-project-name {
  font-family: "Crete Round";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.pop-up-badge-list-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 8px;
}

.pop-up-card-sub-container-2 {
  display: flex;
  gap: 40px;
  flex: 1; /* grow to fill remaining vertical space */
  height: 100%; /* this is critical */
  overflow: hidden;
}

.pop-up-card-image-container {
  flex: 0 0 65%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* ✅ Fill the space, may crop edges */
  display: block;
}

.pop-up-card-info-and-btn-container {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-info {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #344563;
  word-wrap: break-word;
  overflow: auto;
}

.pop-up-buttons-container {
  display: flex;
  gap: 15px;
}

@media (max-width: 1255px) {
  .pop-up-card-container {
    width: 90vw;
  }

  .pop-up-card-image-container {
    flex: 0 0 60%;
  }

  .pop-up-card-info-and-btn-container {
    width: 40%;
  }
}

@media (max-width: 993px) {
  .pop-up-card-container {
    width: 95vw;
  }

  .pop-up-card-image-container {
    flex: 0 0 50%;
  }

  .pop-up-card-info-and-btn-container {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .pop-up-card-container {
    width: 93vw;
    height: 90vh;
    overflow: auto;
  }
  .pop-up-project-name-and-badge-container {
    max-width: 90%;
  }

  .pop-up-project-name {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  .pop-up-card-sub-container-2 {
    flex: none;
    flex-direction: column;
  }

  .pop-up-card-image-container {
    flex: 1 1 100%;
    width: 100%;
    height: fit-content;
  }

  .pop-up-card-info-and-btn-container {
    width: 100%;
    justify-content: unset;
    gap: 20px;
    height: fit-content;
  }

  .project-info {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    max-height: 300px;
    overflow-y: scroll;
  }
}

@media (max-width: 400px) {
  .pop-up-buttons-container {
    display: flex;
    gap: 0;
    justify-content: space-between;
  }

  .pop-up-buttons-container button {
    padding: 5px;
    font-size: 16px;
  }
}
